<%# NOTE: This index page is nto really needed for API app, just for demo purposes %>

<div class="center-content">
  <h1>Simple Weather API and Monitoring Integration</h1>
  
  <p>Navigate to <b>/api/get_weather</b> path and pass the "city" as parameter to get the Weather info.
  <br>
  Example: <b>http://127.0.0.1:3000/api/get_weather.json?city=Manila</b>
  </p>
</div>
